<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content">
    <h1 style="text-align: center">APP</h1>

    <div class="form">
        <form action="/" method="POST">
            Credit Card Number: <input type="text" name="CreditCardNumber" id="CreditCardNumber"><br><br>
            Card Holder: <input type="text" name="CardHolder" id="CardHolder"><br><br>
            Expiration Date: <input type="date" name="ExpirationDate" id="ExpirationDate"><br><br>
            SecurityCode: <input type="text" name="SecurityCode" id="SecurityCode"><br><br>
            Amount: <input type="number" name="Amount" id="Amount"><br><br>
            <input type="submit" value="Process Payment">
        </form>
    </div>
</div>

</body>
</html>

